<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- 1. Enrutar peticiones al proceso de ASP.NET Core -->
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\PortalProveedores.Web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />

    <!-- 2. Seguridad y Límites de Solicitud (5 MB = 5242880 bytes) -->
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxAllowedContentLength="5242880" />
        <verbs allowUnlisted="true">
          <add verb="TRACE" allowed="false" />
          <add verb="TRACK" allowed="false" />
          <add verb="DEBUG" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>

    <!-- 3. Deshabilitar Directory Browsing -->
    <directoryBrowse enabled="false" />

    <!-- 4. Remover módulos vulnerables como WebDAV -->
    <modules>
      <remove name="WebDAVModule" />
    </modules>

    <!-- 5. Ocultar cabeceras de servidor e infraestructura -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="X-AspNet-Version" />
        <remove name="X-AspNetMvc-Version" />
        <remove name="Server" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <!-- 6. Protección a nivel de system.web -->
  <system.web>
    <httpRuntime maxRequestLength="5120" enableVersionHeader="false" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Home/Error" />
  </system.web>
</configuration>
